// Brand original colors
$color-green:        #018040;

.green               { color: $color-green; }
.white              { color: white; }
.bgwhite            { background-color: white; }
.black              { color: lighten(black,2); }